@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v32-latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v32-latin-500.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v32-latin-700.woff2") format("woff2");
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  width: 1340px;
  margin: 0 auto;
  padding: 0 20px;
}

.site-header {
  padding: 40px 0;
  background-image: url("../images/bg-orange.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo-link {
  display: inline-block;
}

.header__list {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 40px;
}

.navbar__link {
  margin-bottom: 0px;
  font-size: 12px;
  font-weight: 700;
  line-height: 14.06px;
  color: #333;
  text-transform: uppercase;
  transition: all 0.4s;
  border: 2px solid transparent;
  padding: 10px;
  border-radius: 20px;
}
.navbar__link:hover {
  border-color: rgba(10, 119, 95, 0.7);
  color: #0A775F;
}

.hero-section {
  padding: 116px 0 280px;
  background-image: url("../images/bg-orange.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.hero__img {
  position: absolute;
  right: 0;
  top: -48px;
}

.hero__content-wrapper {
  width: 464px;
}

.hero__title {
  margin-bottom: 24px;
  font-size: 64px;
  font-weight: 700;
  line-height: 75px;
  color: #000;
}

.hero__text {
  margin-bottom: 34px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #000;
}

.hero__btn {
  width: 193px;
  padding: 16px 0;
  font-size: 16px;
  font-weight: 600;
  line-height: 18.75px;
  letter-spacing: 1px;
  text-align: center;
  border-radius: 100px;
  background-color: #0A775F;
  border: 2px solid transparent;
  color: white;
  cursor: pointer;
  transition: all 0.3s linear;
}
.hero__btn:hover {
  background-color: transparent;
  color: #0A775F;
  border-color: #0A775F;
}

.our-section-wrapper {
  position: relative;
  background-image: url("../images/our-section-img.png");
  background-size: 1400px 1739px;
  background-repeat: no-repeat;
  z-index: 1;
}

.our-section-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.our-section-wrapper > h2 {
  font-family: "Roboto", sans-serif;
  margin-top: 50px;
  margin-bottom: 80px;
  font-size: 50px;
  line-height: 58.59px;
}

.our-list {
  width: 800px;
}

.our-item {
  display: flex;
  align-items: center;
}
.our-item img:nth-child(1) {
  margin-left: -150px;
}
.our-item img {
  transition: all 0.4s;
}
.our-item img:nth-child(1):hover {
  box-shadow: -15px 10px 10px rgba(0, 0, 0, 0.4);
}
.our-item img:nth-child(2):hover {
  box-shadow: 13px 10px 15px rgba(0, 0, 0, 0.4);
}
.our-item img:nth-child(2) {
  margin-left: 90px;
}
.our-item div:nth-child(2) {
  margin-left: 140px;
}
.our-item div:nth-child(1) {
  margin-left: -20px;
}
.our-item div h2 {
  width: 400px;
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  font-weight: 500;
  line-height: 56.25px;
}
.our-item div p {
  width: 450px;
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 34px;
}/*# sourceMappingURL=main.css.map */