.site-header {
    padding: 40px 0;
    background-image: url("../images/bg-orange.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.header {
   @include display($space:space-between);
}
.header__logo-link {
    display: inline-block;
}
.header__list {
    @include display($space:start);
    gap: 40px;
}

.navbar__link {
    @include textStyle($MB:0px,$FS:12px, $FW:700, $LH:14.06px,$Color:#333);
    text-transform: uppercase;
    transition: all 0.4s;
    border: 2px solid transparent;
    padding: 10px;
    border-radius: 20px;
    &:hover{
        border-color: rgb(10, 119, 95, 0.7);
        color: #0A775F;
    }
}